/*---------------------------------------------------------------------------
 * Clases Globales
 *---------------------------------------------------------------------------*/
.float-left{float:left !important;}
.float-right{float:right !important;}
.display-show{display:block !important;}
.display-hide{display:none !important;}
.border {border:1px solid red;}

/*---------------------------------------------------------------------------
 * Clases para form
 *---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------
 * Contenedores de divs
 *---------------------------------------------------------------------------*/
.container{ /* Contenedor madre */
    width:950px;
    margin: 0 auto;
}



