/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.fleft{float:left !important;}
.fright{float:right !important;}
.text-center{text-align: center !important;}
.border{border:1px solid red !important;}
.text-size-80{font-size: 80% !important;}
.text-size-90{font-size: 90% !important;}
.trow{
    float:left;
    clear: both;
    width: 100%;
    margin: 5px 0 5px 0;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    border:1px solid #003366;
    background-color:#EEF3F6;
    /*padding:0 0 2px 5px;*/
    padding:3px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:90%;
    margin:0 !important;
    letter-spacing: 1px;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTAREA
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA FORMULARIO FIELDSET
 -----------------------------------------------------------------------------*/


